<<<<<<< HEAD
	<!-- <div id="content">
=======
	<div id="container">
		<div id="header">
			<h1>MeSH-pl</h1>
		</div>
		
		<div id="menu">
			<ul><li><%= link_to 'Strona główna', root_path %></li>
			<li><%= link_to 'Zaindeksowane strony', articles_path(@articles) %></li>
			<li><%= link_to 'Baza słów kluczowych', keywords_path(@keywords) %></li>
			<li><%= link_to 'Indeksowanie stron', indexing_path() %></li>
			</ul>
		</div>
>>>>>>> 640488c7c55e6d3e5e18a694171c35d57fff6a77
				
			Informacje o aplikacji
	
	</div> -->