	<div id="container">
		<!-- <div id="header">
			<h1>MeSH-pl</h1>
		</div> -->
		
		<div id="menu">
			<ul><li><%= link_to 'Strona główna', root_path %></li>
			<li><%= link_to 'Zaindeksowane strony', articles_path(@articles) %></li>
			<li><%= link_to 'Baza słów kluczowych', keywords_path(@keywords) %></li>
			</ul>
		</div> 
				
		<div id="content">
				Podaj adres URL strony, którą chcesz zaindeksować
			
				<div>
					<form action="...">
						<input type="text" class="textbox" name="Adres URL">
					</form>
				</div>
			
			<div id="button">
				<button type="submit">Dodaj witrynę do bazy danych</button>
			</div>
		</div>
		
		<!-- <div id="footer">
			Maciej Kaczor, 106617
			<br>Agnieszka Szulc, 106526</br>
		</div> -->
	</div>
